.hero {
  height: 196px;
}

.launches {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.launch-list {
  flex: 0 0 300px;
  padding: 24px 20px;
}

.launch-detail {
  flex: 1;
  padding: 24px 20px;
  background: whitesmoke;
}
