@import 'bulma';
@import 'bulma/sass/utilities/mixins';

html,
body {
  min-height: 100vh;
  overflow: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    @include loader;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-width: 3px;
  }
}

.hero {
  height: 196px;
}

.launches {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.launch-list {
  flex: 0 0 300px;
  padding: 24px 20px;

  li {
    position: relative;
  }

  .is-pending {
    &::after {
      @include loader;
      position: absolute;
      top: calc(50% - 0.5em);
      right: 12px;
    }
  }
}

.launch-detail {
  flex: 1;
  padding: 24px 20px;
  background: whitesmoke;
}
